body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}
h2{ text-align: center;}
img{ width: 480;
     height: 800;}
section{
    text-align: center;
    align-items: center;
    background-color: blanchedalmond;
    border: 5px black solid;
    padding-right: 5px;
    margin-top: 2px;

    
}
li{
    text-align: center;
    align-items: center;
}
p:hover{
    color:brown
}
#foo{ font-family: 'Times New Roman', Times, serif;
    }
    #tit{font-family: 'Times New Roman', Times, serif;}

    #menu{
        text-align: center;
        align-items: center;
        background-color: blanchedalmond;
        border: 5px black solid;
        padding-right: 5px;
        margin-top: 2px;
    }